<div class="password-reset">
  <h2><%= t('password_resets.new.header') %></h2>

  <p><%= t('password_resets.new.instructions') %></p>

  <%= form_for @password_reset do |form| %>
    <div class="text-field">
      <%= form.label :email %>
      <%= form.email_field :email, require: true %>
    </div>

    <div class="submit-field">
      <%= form.submit t('password_resets.new.submit') %>
    </div>
  <% end %>
</div>
